header {
	background: #121212;
	color: #ffffff;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

main {
	background: lightgrey;
	padding: 1em;
}

body {
	margin: 0px;
    background-image: url('record.png');
	background-repeat: repeat;
}

